{% extends 'base.html' %}
{% block content %}
  <table>
    <tr valign="top">
      <td>
        <div class="avatar-container">
          <img class="avatar" src="/static/img/{{ user.photo_file_name }}">
          <!--<div class="bottom-right glyphicon glyphicon-camera"></div>-->
        </div>
      </td>
        <td>
          <h1>User: {{ user.username }}</h1>
          <p>{{ user.about_me }}</p>
          <p>Registered: <i>{{ user.join_date.strftime('%b %d, %Y %I:%M%p').lower() }}</i></p>
          {% if user.last_seen %}<p>{{ user.last_seen }}</p>{% endif %}
          {% if user.username == session['username'] %}
          <form action="/upload_image" style="display:inline;">
            <button class="btn btn-primary btn-sm change-btn" type="submit">
               Change avatar
            </button>
          </form>
          <form action="/edit_profile" style="display:inline;">
            <button class="btn btn-primary btn-sm change-btn" type="submit">
               Edit profile
            </button>
          </form>
          <!--<br>-->
            <!--|<a class="btn" href="{{ url_for('edit_profile') }}">Edit your profile </a> |-->
            <!--<a class="btn" href="{{ url_for('upload_image') }}">Change your profile photo</a>|-->
          {% endif %}
        </td>
    </tr>
  </table>
{% endblock %}